<ornstio-card>
  <ornstio-card-header>
    <h1>examples</h1>
    <button
      ornstio-button
      ornstioRipple
      size="large"
      (click)="showCode = !showCode"
    >
      <i class="material-icons">code</i>
    </button>
  </ornstio-card-header>
  <ornstio-card-content padding="16px 0 0px 16px">
    <ornstio-tabs *ngIf="showCode">
      <ornstio-tab name="html">
        <ornstio-code-viewer [code]="html" lang="html"></ornstio-code-viewer>
      </ornstio-tab>
      <ornstio-tab name="ts">
        <ornstio-code-viewer [code]="ts" lang="ts"></ornstio-code-viewer>
      </ornstio-tab>
      <ornstio-tab name="scss" *ngIf="scss">
        <ornstio-code-viewer [code]="scss" lang="scss"></ornstio-code-viewer>
      </ornstio-tab>
    </ornstio-tabs>
    <div class="configuration">
      <ornstio-form-field>
        <ornstio-label>Color</ornstio-label>
        <ornstio-select size="large" [(value)]="color">
          <ornstio-option *ngFor="let o of colors" [value]="o">{{
            o
          }}</ornstio-option>
        </ornstio-select>
      </ornstio-form-field>
    </div>
  </ornstio-card-content>
  <ornstio-card-footer>
    <ornstio-tabs [color]="color">
      <ornstio-tab name="Tab 1"> This is Tab 1 Content </ornstio-tab>
      <ornstio-tab name="Tab 2">This is Tab 2 Content</ornstio-tab>
      <ornstio-tab name="Tab 3">This is Tab 3 Content</ornstio-tab>
    </ornstio-tabs>
  </ornstio-card-footer>
</ornstio-card>
<ornstio-card>
  <ornstio-card-header>
    <h1>api</h1>
  </ornstio-card-header>
  <ornstio-card-content>
    <app-api-table [apis]="apis"></app-api-table>
  </ornstio-card-content>
</ornstio-card>
<ornstio-card>
  <ornstio-card-header>
    <h1 [style.textTransform]="'none'">OrnstioTabComponent</h1>
  </ornstio-card-header>
  <ornstio-card-content>
    <app-api-table [apis]="tabApis"></app-api-table>
  </ornstio-card-content>
</ornstio-card>
